source https://api.nuget.org/v3/index.json

storage: none
framework: netcore3.0, netstandard2.0, netstandard2.1
nuget FsCheck.Xunit
nuget SharpDX.Desktop
nuget SharpDX.Direct2D1
nuget SharpDX.Direct3D10
nuget SharpDX.Mathematics
nuget System.Windows.Forms